$dark-blue: linear-gradient(180deg, rgba(26, 28, 35, 0) 0%, rgba(22, 24, 30, 0.5) 38.38%, #16181E 100%);;
$p-one:#6C7C83;
$span-color:#FFDA08;
$underline-color:#E11900;
$h1-color:#F2F4FF;
$p2-color:#8FA3AD;
$btn-start-color:#294CFF;
$btn-contact-color:#556068;
$sectionTwoColor:#101114;
$progress:#73be74;
$inprogress:#37CC3A;
$occordion-btn-text:#B1C2C9;
$circle-color:#0F35F5;
$btn-three:#39A96B;
$btn-material:#82D9A6;
$div-four-color:linear-gradient(196.03deg, #1C1E26 10.93%, #121418 89.23%);
$you-color:#4382F9;
$hg-color:#39A96B;
$hg-circle-color:#198C50;
$br-color:#9B43F9;
$br-circle-color:#8734E0;
$md-color:#FF7557;
$md-circle-color:#E66649;
$last-text:#5E6475;
$div-zoom-2:#CCD2DB;











